<div class="container" fxLayout="column">
  <div style="text-align: center">
    <h1>
      C.P. Lin & Co.
    </h1>
  </div>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-button>
        <mat-icon routerLink="/home/">home</mat-icon>
      </button>
      <button mat-button routerLink="/users/">Users</button>
      <button mat-button routerLink="/blog/">Blog</button>
      <button mat-button routerLink="/practice-areas/">Practice Areas</button>
      <button mat-button routerLink="/qualifications/">Qualifications</button>
      <button mat-button routerLink="/titles/">Titles</button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>